@import '@/styles/variables.scss';

.ly_cont {
  padding: 0 16px;
  @include mq-up(xl) {
    max-width: 1200px;
    margin: 0 auto;
    height: calc(100vh - 137px);
  }
  .bl_contTitle {
    padding-top: 16px;
    font-family: Roboto-Bold;
    font-size: 24px;
    line-height: 26px;
    text-transform: uppercase;
    color: #1a1a1a;
    text-decoration: none;
    @include mq-up(lg) {
      padding-top: 32px;
    }
  }
  .bl_contTitle::after {
    content: '';
    background-image: url('@/assets/img/markIcon.svg');
    display: inline-block;
    height: 8px;
    width: 8px;
    vertical-align: baseline;
    margin-left: 4px;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 24px;
    padding: 0;
    max-width: 1200px;
    justify-content: center;
  }
  .ly_media_body {
    display: block;
    
    .bl_media_body {
      display: flex;
      flex-direction: column;
      background: #383838;
      border-radius: 15px 15px 0 0;
      .bl_media_ttl {
        margin-top: 8px;
        order: 2;
        text-align: center;
        color: #fff;
      }

      .ly_media_txt {
        margin-top: 24px;
        display: flex;
        color: #BEBAB3;
        justify-content: space-between;
        padding: 0 24px;
        order: 1;
      }
    }

    .ly_media_Button {
      display: flex;
      margin-top: 128px;
      margin-bottom: 16px;
    }
  }
}





