@import '@/styles/variables.scss';

.ly_body {
  min-height: calc(100vh - 137px);
  padding: 0 16px;
  @include mq-up(md) {
    max-width: 700px;
    margin: 0 auto;
    padding: 0;
  }
  @include mq-up(lg) {
    max-width: 1200px;
    margin: 0 100px;
  }
  // background: url(@/assets/img/VM_test.png) center / cover;
  .ly_body_inner {
    width: 100%;
    padding-top: 10%;
    .bl_body_ttl {
      font-family: 'Roboto-Black';
      font-size: 40px;
      line-height: 130%;
      @include mq-up(md) {
        font-size: 56px;
        line-height: 140%;
      }
      @include mq-up(lg) {
        font-size: 72px;
        line-height: 150%;
      }
      .bl_body_span {
        display: block;
      }
      span:nth-child(1) {
        opacity: 0;
        animation: fadeIn 1s ease-in 0s forwards;
        @keyframes fadeIn {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
      }
      span:nth-child(2) {
        opacity: 0;
        animation: fadeIn 1s ease-in 1s forwards;
        @keyframes fadeIn {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
      }
      span:nth-child(3) {
        opacity: 0;
        animation: fadeIn 1s ease-in 2s forwards;
        @keyframes fadeIn {
          from {
            opacity: 0;
            transform: translateX(-20px);
          }
          to {
            opacity: 1;
            transform: translateX(0px);
          }
        }
      }
    }
    .bl_bodyConts {
      margin-top: 70px;
      @include mq-up(md) {
        margin-top: 240px;
      }
      @include mq-up(lg) {
        display: none;
      }
      .bl_bodyConts_nav {
        display: block;
        li:nth-child(n + 2) {
          margin-top: 24px;
        }
        li {
          .bl_bodyConts_ttl {
            font-family: Roboto-Bold;
            font-size: 24px;
            line-height: 26px;
            text-transform: uppercase;
            color: #1a1a1a;
            text-decoration: none;
          }
          .bl_bodyConts_ttl::after {
            content: '';
            background-image: url('@/assets/img/markIcon.svg');
            display: inline-block;
            height: 8px;
            width: 8px;
            vertical-align: baseline;
            margin-left: 4px;
          }
        }
      }
    }
  }
}
