@import '@/styles/variables.scss';

.ly_cont {
  min-height: calc(100vh - 137px);
  margin: 0 auto;
  padding: 0 16px;
  padding-bottom: 32px;
  @include mq-up(md) {
    padding: 0 64px;
    padding-bottom: 32px;
  }
  @include mq-up(xl) {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-around;
  }
  .bl_contTitle {
    padding-top: 16px;
    font-family: Roboto-Bold;
    font-size: 24px;
    line-height: 26px;
    text-transform: uppercase;
    color: #1a1a1a;
    text-decoration: none;
    order: 1;
    @include mq-up(lg) {
      padding-top: 32px;
    }
  }
  .ly_cont_txt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    .bl_contsubTitle {
      font-family: NotoSerifJP-M;
      font-size: 20px;
      font-weight: 700;
    }
    .bl_cont_date {
      font-family: NotoSerifJP-M;
      font-size: 14px;
      font-weight: 400;
    }
  }

  .bl_contBody {
    font-size: 16px;
    font-family: NotoSerifJP-R;
    font-weight: 500;
    margin-top: 24px;
    h2 {
      font-size: 20px;
      font-weight: 600;
      text-align: left;
      line-height: 150%;
    }
    h3 {
      margin-bottom: 4px;
      font-size: 16px;
      font-weight: 500;
      line-height: 150%;
    }
    h4 {
      margin-bottom: 16px;
    }
    blockquote {
    }
    p {
      margin-bottom: 8px;
      font-size: 16px;
    }
    img {
      width: 100%;
    }
    pre {
      background: #364549;
      color: white;
      padding: 24px 4px;
      margin-bottom: 8px;
    }
  }
}
