@import '@/styles/variables.scss';

.ly_cont {
  min-height: calc(100vh - 137px);
  margin: 0 auto;
  padding: 0 16px;
  padding-bottom: 32px;
  @include mq-up(xl) {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-around;
  }
}
